<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="example suite 1" verbose="1">
    <parameter name="kind" value="spotlight_v2"/>
    <parameter name="product" value="spotlight cam"/>
    <test name="All tests">
        <packages>
            <package name="com.example"/>
        </packages>
    </test>

</suite>
